.nrs{
    background-color: teal;
    color: white;
    text-align: center;
    padding:  25px;
    

}
.btn1{
    background-color: teal;
    color: white;
    align-content: center;
    padding: 20px;
font-size: 15px;
font-weight: bold;
font-family: sans-serif;
margin-top: 40px;
border-radius: 5px;
border-color: snow;
}